synth_1/
synth/
.vscode/
.venv/
Software/Simulator/SimulatorCLI/bin/
Software/Simulator/SimulatorCLI/obj/
Software/Simulator/SimulatorCore/bin/
Software/Simulator/SimulatorCore/obj/
Software/Simulator/SimulatorTest/bin/
Software/Simulator/SimulatorTest/obj/

.venv/
.vs/
.qsys_edit/

[_@]*

# ignore compilation output of ModelSim

*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.bsf

.DS_Store

*.out
*.do

# ignore simulation output of ModelSim

wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg

work/
.venv/

*.mpf
*.vcd
Software/Assembler/rand_assembly.asm
Software/Simulator/SimulatorTest/rand_assembly.asm
Software/Assembler/rand_assembly.asm.out
