synth/
.vscode/

.venv/

[_@]*

# ignore compilation output of ModelSim

*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.bsf

.DS_Store


# ignore simulation output of ModelSim

wlf*
*.wlf
*.vstf
*.ucdb
cov*/
transcript*
sc_dpiheader.h
vsim.dbg

work/

*.mpf
*.vcd
